:root {
  /* Colors */

  /* Font & Icon Colors */

  /* Bold Font Color */
  --clr-white: #fff;
  /* Non-Bold Font & Icon Color */
  --clr-light-gray: #949494;
  /* Bar Toggle-able Button, Horizontal Line Rule using Border, & Remaining Bar Color */
  --clr-battleship-gray: #4b4b4a;

  /* Fill Colors for Other Objects */

  /* Background & Social Banner Color */
  --clr-black: #000;
  /* Foreground & Document Color */
  --clr-carbon-gray: #2b2a2a;
  /* Icon and Bar Colors */
  --clr-lavender: #b2a4d4;
  --clr-pink: #ffc1cc;
  --clr-red: #e10600;
  --clr-orange: #ffa400;
  --clr-yellow: #dfd213f0;
  --clr-teal: #00a4b4;
  --clr-sky: #00aeef;
  --clr-light-green: #47bb47;

  --filter-clr-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(65deg)
    brightness(100%) contrast(103%);

  --filter-clr-light-gray: invert(63%) sepia(4%) saturate(15%) hue-rotate(46deg)
    brightness(92%) contrast(91%);

  --filter-clr-battleship-gray: invert(57%) sepia(3%) saturate(154%)
    hue-rotate(22deg) brightness(90%) contrast(92%);

  --filter-clr-lavender: invert(88%) sepia(10%) saturate(3494%)
    hue-rotate(192deg) brightness(88%) contrast(86%);

  --filter-clr-pink: invert(70%) sepia(92%) saturate(343%) hue-rotate(299deg)
    brightness(116%) contrast(102%);

  --filter-clr-red: invert(13%) sepia(77%) saturate(5862%) hue-rotate(358deg)
    brightness(89%) contrast(110%);

  --filter-clr-orange: invert(78%) sepia(31%) saturate(7050%) hue-rotate(360deg)
    brightness(103%) contrast(104%);

  --filter-clr-yellow: invert(83%) sepia(96%) saturate(7481%) hue-rotate(347deg)
    brightness(97%) contrast(109%);

  --filter-clr-teal: invert(53%) sepia(36%) saturate(2728%) hue-rotate(160deg)
    brightness(96%) contrast(103%);

  --filter-clr-sky: invert(49%) sepia(60%) saturate(3267%) hue-rotate(165deg)
    brightness(102%) contrast(103%);

  --filter-clr-light-green: invert(57%) sepia(89%) saturate(382%)
    hue-rotate(72deg) brightness(92%) contrast(81%);

  /* Dimensions */

  /* Percentages & Auto */
  --auto: auto;
  --prc-100: 100%;
  --prc-97: 97%;
  --prc-95: 95%;
  --prc-90: 90%;
  --prc-85: 85%;
  --prc-84: 84%;
  --prc-82: 82%;
  --prc-80: 80%;
  --prc-50: 50%;
  --prc-20: 20%;

  /* Fixed Sizes */
  --sz-sm1: 2px;
  --sz-sm2: 5px;
  --sz-med: 20px;

  /* Fonts */
  /* San-Serif */
  --ff-ss: sans-serif;

  /* Bold */
  --bold: bold;

  /* To Uppercase */
  --uppercase: uppercase;

  /* Line Height Spacing */
  --line-height-spacing: 1.5;

  /* Flex Properties */

  /* Display: Flex */
  --flex-display: flex;

  /* flex-direction: Column */
  --flex-col: column;

  /* Flex-start */
  --flex-start: flex-start;

  /* Flex-end */
  --flex-end: flex-end;

  /* Space-evenly */
  --space-evenly: space-evenly;

  /* Misc Properties */

  --center: center;

  --justify: justify;

  /* None Value used to remove bullets 
  in unordered-list & underlines for
  hyperlinks */

  --none: none;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: black;
  color: #949494;
}

.boxes {
  border: 4px white solid;
  background-color: #2b2a2a;
  padding: 5%;
  /* margin: 5%; */
  display: flex;
}

header {
  display: flex;
  flex-flow: row wrap;
}

.central {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section {
  flex-grow: 2;
}

section,
aside,
footer {
  display: flex;
  flex-flow: column wrap;
}

.head {
  padding: 5%;
  /* margin: 1%; */
}

#head-1,
#head-2,
#head-3,
#head-4,
#head-5,
#head-6 {
  border: 4px white solid;
  /* background-color: lightblue; */

  width: 100%;
}

#head-2 img {
  width: 10rem;
  /* background-color: green; */
}

.head-profile-1 {
  display: flex;
  flex-flow: column;
}

.head-headline {
  display: flex;
}

.icon {
  filter: invert(63%) sepia(4%) saturate(15%) hue-rotate(46deg) brightness(92%)
    contrast(91%);
  text-decoration: none;
  width: 2.5rem;
}

a {
  text-decoration: none;
  color: #949494;
}

strong {
  color: #fff;
}
